body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Comic Neue', cursive;
  background-color: #efefef;
}
#app {
  display: flex;
  flex-direction: column;
  place-items: center;
  position: relative;
  
}

#loader, #comic {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  transition: all 0.5s;
  
  height: 800px;
}

#comic {
  top: 2em;
  padding-bottom: 2em;
}

#comic p {
  margin-bottom: 2em;
}

#loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#comic img {
  border: solid 1em #fff;
  border-radius: 1em;
  box-shadow: 0.5em 0.5em 1em #cdcdcd;
  max-width: 100%;
  min-width: 500px;
  height: auto;
}

#nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #cdcdcd;
}

#nav .container {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

a {
  color: #232323;
  text-decoration: none;
  padding: 0.1em;
  border-radius: 4px;
}

#nav a {
  font-weight: 700;
  font-size: 1.2em;
  padding: 0.5em;
  text-transform: uppercase;
}

@media screen and (max-width: 1000px){
  #nav a {
    font-size: 0.9em;
  }
}

a:hover {
  background-color: #dedede;
}

a:active {
  background-color: #ababab;
}

#nav a i {
  font-size: 0.8em;
}
.hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

input {
  border: solid 1px #dedede;
  border-radius: 5px;
  background-color: inherit;
  font-size: inherit;
  width: 3em;
  font-family: inherit;
  font-weight: 700;
}

.transcript {
  background-color: #ffffff;
  border: solid 1px #eee;
  color: #232323;
  border-radius: 1em;
  font-size: 0.9em;
  font-style: italic;
  font-weight: 400;
  padding: 0.5em 1em;
  margin: 0px auto 2em auto;
  box-shadow: 0.2em 0.2em 0.4em #cdcdcd;
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  top: 4em;
}

.transcript a {
  position: absolute;
  top:-0.7em;
  right: -0.7em;
  font-size: 1.6em;
  font-style: normal;
  font-weight: 700;
  color: #aa4444;
}

.transcript > a:hover {
  background-color: rgba(255,255,255,0);
  opacity: 0.8;
}

.transcript > a:active {
  background-color: rgba(255,255,255,0);
  opacity: 0.9;
}

#comic .transcript p {
  margin-bottom: 0.5em;
}

button {
  margin-bottom: 2em;
}

